div{
    height: 40px;
}
label {
    display: inline-block;
    width: 50px;
    text-align: center;
}
.button{
    background:plum;
    width: 100px;
    height: 40px;
    margin-left: 50px;
    font-size: 20px;
    color: aliceblue;
}
div.bio{
height: 170px;
position: relative;
}
label.bio{
    position: absolute;
    top: 0px;
}
#bio{
    margin-left: 50px;
    position: relative;
}
.degree{
    height: 30px;
    width: 60px;
}
