body, div, ul, li, input, p{
    margin: 0;
    padding: 0;}
    img
    {
 border: 0 none;
}
a{
    text-decoration: none;
}
body{
    background: #F4F4F4;
}
/* 基础设置*/
.header{
    width:100%;
    height:80px;
    background:rgba(255,255,255,1);
}
.header-center{

    height: 80px;
    width: 1000px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
    
}
.header-left{
    height: 80px;
    display: flex;
    align-items: center;
}
.logo{
    width:35px;
    height:34px;
}
.logo-text{
    margin-left: 12px;
    font-size: 20px;
    text-align: center;
    line-height: 52px;
}
.header-tab-container
{
    display: flex;
}
.header-tab{
    height: 80px;
}
.header-tab-item{
    width: 70px;
    height: 75px;
    font-size: 20px;
    border-top: 5px solid #FFFFFF;
    line-height: 70px;
    text-align: center;
}
.header-tab-item:hover{
    border-top: 5px solid rgba(244,67,54,1);
    color:rgba(244,67,54,1);

}
.search-container{
    width:325px;
    height:30px;
    background:rgba(255,255,255,1);
    border:2px solid rgba(244,67,54,1);
    display: flex;
}
.s-ipt{
    border: 0;
    width: 245px;
    height: 30px;
}
.img-container{
    width:80px;
    height:30px;
    background:rgba(244,67,54,1);
    text-align: center;
}
img.searchimg {
    height: 30px;}
.peoplephoto{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.signout{
    font-size:14px;
    color:rgba(255,255,255,1);
    line-height:30px;
    width:90px;
    height:30px;
    background:rgba(29,192,145,1);
    text-align: center;
}
/*header结束*/
.container{
    width: 1000px;
    margin:0 auto;
}
.imgview{
    height:350px;
    width: 1000px;
}
.class-introduction{
    width:1000px;
    height:400px;
    background:rgba(255,255,255,1);
    display: flex;
    justify-content: space-evenly;
}
.class-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 357px;
}
.summeay{
    width:96px;
    height:96px;
    border:2px solid rgba(29,192,145,1);
    border-radius: 50%;
    font-size:36px;
    color:rgba(29,192,145,1);
    line-height:96px;
    text-align: center;
}
li{
    font-size:14px;
    color:rgba(51,51,51,1);}
li:hover{
    font-size:14px;
    color:rgba(244,67,54,1);
} 
.class-details{
    border-right: solid 1px #E8E8E8;
    width: 135px;
}
.plus-sign{
    width:25px;
    height:25px;
    border:1px solid rgba(29,192,145,1);
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}
.plus-sign::before{
    content: '';
    border-top: 1px solid rgba(29,192,145,1);
    width: 25px;
    position: absolute;
  top: 50%;
}
.plus-sign::after{
    content: '';
    border-left: 1px solid rgba(29,192,145,1);
    height: 25px;
    position: absolute;
    left: 50%;

}
.hotclass{
    width:1000px;
    height:410px;;
    margin-top: 20px;
    background: #FFFFFF;
}
.module-title{
    width:1000px;
    height:25px;
    font-size:18px;
    color:rgba(102,102,102,1);
    line-height:25px;
    padding-top: 20px;
    text-align: center;
}
.module-introduction{
    width: 1000px;
    height:20px;
    font-size:12px;
    color:rgba(29,192,145,1);
    line-height:  20px;
    text-align:center;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
margin-top:40px;}
.rectangle1{
    width:140px;
    height:105px;
    border:2px solid rgba(29,192,145,1);
    text-align: center;
}
.rectangle1:hover{
    background-color: rgba(29,192,145,1);
}

.rectangle2{
    width:140px;
    height:105px;
    font-size:48px;
    color:rgba(244,67,54,1);
    line-height:105px;
    text-align: center;
}
/**/
.guess-like{
    width:1000px;
    height:355px;
    margin-top: 20px;
    background:rgba(255,255,255,1);
}
.module-container2{
    width: 800px;
    height: 140px;
    display: flex;
    margin-left: 127px;
    margin-top: 50px;
    justify-content: space-between;
}
.lesson-content:hover    .rabbit1 {
        visibility: visible;
 } 
     .rabbit1{
        position: absolute;
        visibility: hidden;
        bottom: 96%;
        left: 39%;
    }
.lesson-content:hover{
    opacity: 1;
    }
    .lesson-content{
        position: relative;
        background:rgba(244,67,54,1);
        width:175px;
        height:105px;
        opacity:0.7;
        display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
.lessonname2{ 
    font-size:15px;
    color:rgba(255,255,255,1);     
}
/**/
.footer{
    width:100%;
    height:120px;
    background:rgba(51,51,51,1);
}
.footer-center{
    width: 320px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;}
.rabbit2{
    border-bottom: 2px solid rgba(155,155,155,1);
    text-align:center;
    margin-bottom: 3px;
}
.xixixixi{
    display: flex;
    justify-content: center;
}
.muxistdio{
  font-size:14px;
    font-weight:300;
    color:rgba(155,155,155,1);
    letter-spacing:4px;
    border-right: 3px solid #EA5A70;
    border-radius:2px;
    padding-right: 7px;
}
.school{
 font-size:14px;
    color:rgba(155,155,155,1);
    padding-left: 20px;
}
