body, div, ul, li, input, p{
    margin: 0;
    padding: 0;
}
img{
    border: 0 none;
}
a{
    text-decoration: none;
}
body{
    background: #F4F4F4;
}div{
    display: inline-block;
}
/* 基础设置*/
.header{
    width:100%;
    height:80px;
    background:rgba(255,255,255,1);
}
.header-center{
    height: 80px;
    width: 1000px;
    margin: 0 auto;
    display: block;
}
.header-left{
    height: 80px;
}
.logo{
    width:35px;
    height:34px;
    vertical-align: middle;
 }
.logo-text{
    width:52px;
    height:52px;
    text-align: center;
    line-height: 52px;
    vertical-align: middle;
}
.header-tab-container
{
    margin:0 30px;
}
.header-tab{
    height: 80px;
    vertical-align: middle;
}
.header-tab-item{
    width: 70px;
    height: 75px;
    font-size: 20px;
    border-top: 5px solid #FFFFFF;
    line-height: 70px;
    text-align: center;
}
.header-tab-item:hover{
    border-top: 5px solid rgba(244,67,54,1);
    color:rgba(244,67,54,1);
}
.search-container{
    width:325px;
    height:30px;
    border:2px solid rgba(244,67,54,1);
    vertical-align:middle;
    font-size: 0;
    margin: 0 55px;
}
.s-ipt{
    border: 0;
    width: 250px;
    height: 30px;
    vertical-align: bottom;
}
.img-container{
    width:75px;
    height:30px;
    background:rgba(244,67,54,1);
    text-align: center;
}
img.searchimg {
    height: 30px;}
.peoplephoto{
    width:40px;
    height:40px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0px 60px;
}
.signout{
    color:rgba(255,255,255,1);
    line-height:30px;
    width:90px;
    height:30px;
    background:rgba(29,192,145,1);
    text-align: center;
    vertical-align: middle;
}
/*header结束*/
.wrapper{
    width:100%;
}
.container{
    width: 1000px;
    margin:0 auto;
    display: block;
}
.imgview{
    height:350px;
    width: 1000px;
}
.class-introduction{
    width:1000px;
    height:400px;
    background:rgba(255,255,255,1);
    text-align:center;
}
.class-content{  
    width:200px; 
}
.summeay{
    width:96px;
    height:96px;
    border:2px solid rgba(29,192,145,1);
    border-radius: 50%;
    font-size:36px;
    color:rgba(29,192,145,1);
    line-height:96px;
    text-align: center;
    margin: 23px;
}
li{
    font-size:14px;
    color:rgba(51,51,51,1);
}
li:hover{
    font-size:14px;
    color:rgba(244,67,54,1);
} 
.class-details{
    border-right: solid 1px #E8E8E8;
    width: 140px;
}
.plus-sign{
    width:25px;
    height:25px;
    border:1px solid rgba(29,192,145,1);
    border-radius: 50px;
    display:block;
    position: relative;
    margin: 20px auto;
    text-align: initial;
}
.plus-sign::before{
    content: '';
    border-top: 1px solid rgba(29,192,145,1);
    width: 25px;
    position: absolute;
    top: 50%;
}
.plus-sign::after{
    content: '';
    border-left: 1px solid rgba(29,192,145,1);
    height: 25px;
    position: absolute;
    left: 50%;
}
.hotclass{
    width:1000px;
    height:410px;
    background:rgba(255,255,255,1);
    margin-top: 20px;
}
.module-title{
    width:1000px;
    height:25px;
    font-size:18px;
    color:rgba(102,102,102,1);
    line-height:25px;
    padding-top: 20px;
    text-align: center;
}
.module-introduction{
    width: 1000px;
    height:20px;
    font-size:12px;
    color:rgba(29,192,145,1);
    line-height:  20px;
    text-align:center;
}
.rectangle1{
    width:140px;
    height:105px;
    border:2px solid rgba(29,192,145,1);
    text-align: center;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top:40px;
}
.rectangle1:hover{
    background-color: rgba(29,192,145,1);
}
.lessonname1{
    width:144px;
    height:40px;
    font-size:14px;
    font-weight:300;
    color:rgba(51,51,51,1);
    text-align: center;
}
.rectangle2{
    width:140px;
    height:105px;
    font-size:48px;
    color:rgba(244,67,54,1);
    line-height:105px;
    text-align: center;
}
/**/
.guess-like{
    width:1000px;
    height:355px;
    margin-top: 20px;
    background:rgba(255,255,255,1);
    text-align: center;
}
.module-container2{
    width: 800px;
    height: 220px;
}
.module-container2::before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}
.lesson-content:hover    .rabbit1 {
    visibility: visible;
} 
 .rabbit1{
    position: absolute;
    visibility: hidden;
    bottom: 100%;
    bottom: 96%;
    left: 39%;
}
.lesson-content:hover{
    opacity: 1;
}
.lesson-content{
    position: relative;
    background:rgba(244,67,54,1);
    width:175px;
    height:105px;
    opacity:0.7;
    text-align: center;
}
.lesson-content::before {
    content: " ";
    display: inline-block;
    height: 122%;
    width: 0;
    vertical-align: middle;
}
.lessonname2{ 
    font-size:18px;
    color:rgba(255,255,255,1);    
}

/**/
.footer{
    width:100%;
    height:120px;
    background:rgba(51,51,51,1);
}
.footer-center{
    width: 320px;
    margin: 0 auto;
    display: block;
    height: 120px;;
}
.footer-center::before {
    content: " ";
    display: inline-block;
    height: 50%;
    width: 0;
}
.rabbit2{
    border-bottom: 2px solid rgba(155,155,155,1);
    text-align:center;
    margin-bottom: 3px;
    width: 300px;
}
.muxistdio{
    font-size:14px;
    color:rgba(155,155,155,1);
    letter-spacing:4px;
    border-right: 3px solid #EA5A70;
    border-radius:2px;
    padding-right: 7px;
}
.school{
    font-size:14px;
    color:rgba(155,155,155,1);
    padding-left: 20px;
}
